html {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.ansButton {
  margin-right: 4%;
}

.report {
  background-color: aliceblue;
  padding: 2em;
}
.report-answer-right {
  border: 2px solid #0b6623;
  text-align: center;
  padding: 0.7em;
}

.report-answer-wrong {
  border: 2px solid red;
  display: flex;
  padding: 0.7em;
  justify-content: space-around;
}
.report-wrapper {
  padding: 0.5em;
}
.report-question {
  font-size: large;
  font-weight: bold;
}

.quiz-result {
  display: flex;
  justify-content: space-between;
}

.green-border {
  border: 1px solid green;
}

.red-border {
  border: 1px solid red;
}
#quiz-title {
  text-align: center;
  border-bottom: 3px solid black;
}
